include ../config/config

doctype html
html(lang="en")
   head
      meta(charset="UTF-8")
      meta(http-equiv="X-UA-Compatible", content="IE=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Fylo dark theme landing page
      //- Favicons
      link(rel="apple-touch-icon", sizes="57x57", href="assets/favicons/apple-icon-57x57.png")
      link(rel="apple-touch-icon", sizes="60x60", href="assets/favicons/apple-icon-60x60.png")
      link(rel="apple-touch-icon", sizes="72x72", href="assets/favicons/apple-icon-72x72.png")
      link(rel="apple-touch-icon", sizes="76x76", href="assets/favicons/apple-icon-76x76.png")
      link(rel="apple-touch-icon", sizes="114x114", href="assets/favicons/apple-icon-114x114.png")
      link(rel="apple-touch-icon", sizes="120x120", href="assets/favicons/apple-icon-120x120.png")
      link(rel="apple-touch-icon", sizes="144x144", href="assets/favicons/apple-icon-144x144.png")
      link(rel="apple-touch-icon", sizes="152x152", href="assets/favicons/apple-icon-152x152.png")
      link(rel="apple-touch-icon", sizes="180x180", href="assets/favicons/apple-icon-180x180.png")
      link(rel="icon" type="image/png", sizes="192x192",  href="assets/favicons/android-icon-192x192.png")
      link(rel="icon" type="image/png", sizes="32x32", href="assets/favicons/favicon-32x32.png")
      link(rel="icon" type="image/png", sizes="96x96", href="assets/favicons/favicon-96x96.png")
      link(rel="icon" type="image/png", sizes="16x16", href="assets/favicons/favicon-16x16.png")
      link(rel="manifest" href="assets/favicons/manifest.json")
      meta(name="msapplication-TileColor", content="#ffffff")
      meta(name="msapplication-TileImage", content="/ms-icon-144x144.png")
      meta(name="theme-color", content="#ffffff")
      //- CSS
      link(rel="stylesheet", href="css/styles.css")
      //- Fontawesome
      link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css", integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu", crossorigin="anonymous")
      //- Fonts
      link(rel="preconnect", href="https://fonts.gstatic.com")
      //- Raleway, Open Sans
      link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap", rel="stylesheet")
   body 
      header.main-header

         .main-header__top 
            img.main-header__logo(src="assets/img/logo.svg", alt="Fylo logo")
            nav
               ul.menu 
                  each page in pages
                     li.menu__item: a.menu__link(href= page.url)= page.title
         
         .main-header__body
            .main-header__illustration
            h1.title All your files in one secure location, accessible anywhere.
            p.main-header__text Fylo stores all your most important files in one secure location. Access them wherever you need, share and collaborate with friends family, and co-workers.
            a.main-header__link(href="#") Get Started

      main.main 

         .benefits 
            article.benefits__card.benefits__card--access
               h2.benefits__title Access your files, anywhere
               p.benefits__text The ability to use a smartphone, tablet, or computer to access your account means your files follow you everywhere.
            
            article.benefits__card.benefits__card--security
               h2.benefits__title Security you can trust
               p.benefits__text 2-factor authentication and user-controlled encryption are just a couple of the security features we allow to help secure your files.
            
            article.benefits__card.benefits__card--collaboration
               h2.benefits__title Real-time collaboration
               p.benefits__text Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.
            
            article.benefits__card.benefits__card--files
               h2.benefits__title Store any type of file
               p.benefits__text Whether you're sharing holidays photos or work documents, Fylo has you covered allowing for all file types to be securely stored and shared.

         article.productivity
            .productivity__illustration 
            .productivity__card 
               h2.productivity__title Stay productive, wherever you are
               p.productivity__text Never let location be an issue when accessing your files. Fylo has you covered for all of your file storage needs.
               p.productivity__text Securely share files and folders with friends, family and colleagues for live collaboration. No email attachments required.
               a.productivity__link(href="#") See how Fylo works

         .testimonials
            article.testimonials__card 
               blockquote.testimonials__quote Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
               footer.testimonials__footer
                  img.testimonials__image(src="assets/img/profile-1.jpg", alt="Satish Patel profile image")
                  .testimonials__data 
                     h2.testimonials__name Satish Patel
                     p.testimonials__job Founder & CEO, Huddle

            article.testimonials__card 
               blockquote.testimonials__quote   Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
               footer.testimonials__footer
                  img.testimonials__image(src="assets/img/profile-2.jpg", alt="Bruce McKenzie profile image")
                  .testimonials__data 
                     h2.testimonials__name Bruce McKenzie
                     p.testimonials__job Founder & CEO, Huddle

            article.testimonials__card 
               blockquote.testimonials__quote Fylo has improved our team productivity by an order of magnitude. Since making the switch our team has become a well-oiled collaboration machine.
               footer.testimonials__footer
                  img.testimonials__image(src="assets/img/profile-3.jpg", alt="Iva Boyd profile image")
                  .testimonials__data 
                     h2.testimonials__name Iva Boyd
                     p.testimonials__job Founder & CEO, Huddle

      footer.footer
         form.form(action="#")
            h2.form__title Get early access today
            p.form__text It only takes a minute to sign up and our free starter tier is extremely generous. If you have any questions, our support team would be happy to help you.
            .form__inputs 
               .form__email
                  input.form__input#email(
                        type="email", 
                        name="email", 
                        aria-label="Your email", 
                        placeholder="email@example.com",
                        required,
                        title= "Type a valid email adress",
                        pattern="^[a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,15})$" 
                     )
                  p.form__error Please enter a valid email adress
               button.form__submit(type="submit") Get Started For Free

         img.footer__logo(src="assets/img/logo.svg", alt="Fylo logo")

         .footer__body
            p.footer__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua

            ul.contact 
               li.contact__item 
                  a.contact__link.contact__link--telephone(href="tel:+1-543-123-4567") +1-543-123-4567
               li.contact__item
                  a.contact__link.contact__link--email(href="mailto:example@fylo.com") example@fylo.com

            .footer__lists
               ul.footer-list
                  li.footer-list__item: a.footer-list__link About Us
                  li.footer-list__item: a.footer-list__link Jobs
                  li.footer-list__item: a.footer-list__link Press
                  li.footer-list__item: a.footer-list__link Blog

               ul.footer-list
                  li.footer-list__item: a.footer-list__link Contact Us
                  li.footer-list__item: a.footer-list__link Terms
                  li.footer-list__item: a.footer-list__link Privacy
            
            ul.social
               li.social__item 
                  a.social__link
                     i.fab.fa-facebook-f.social__icon
                     span.social__screen-reader-only Go to Fylo's facebook
               li.social__item 
                  a.social__link
                     i.fab.fa-twitter.social__icon
                     span.social__screen-reader-only Go to Fylo's twitter
               li.social__item 
                  a.social__link
                     i.fab.fa-instagram.social__icon
                     span.social__screen-reader-only Go to Fylo's instagram
